.schedule .clear {
    clear: both;
    height: 0;
    line-height: 0;
}

.schedule .sc-rows {
    float: left;
    font-weight: bold;
    background: #6187AE;
    border-color: #c0c0c0;
    color: white;
    position: relative;
}

.schedule .sc-rows .sc-rows-scroll {
    position: absolute;
    left: 0;
    top: 0;
}

.schedule .sc-main-scroll .sc-time {
    color: #FFFFFF;
    padding: 4px 0;
    line-height: 18px;
    height: 18px;
    display: block;
    float: left;
    border-right: solid 1px #CCC;
    text-align: center;
}

.schedule .sc-main-box,
.schedule .sc-rows {
    max-height: 500px;
    overflow: hidden;
}

.schedule .sc-main-box {
    float: left;
    overflow-x: auto;
    overflow-y: auto;
}

.schedule .sc-main {
    position: relative;
}

.schedule .timeline {
    position: relative;
}

.schedule .sc-bar {
    position: absolute;
    color: #FFF;
    background: #ff4800;
    cursor: pointer;
    z-index: 10;
    box-shadow: 2px 2px 4px #333;
    -moz-box-shadow: 2px 2px 4px #333;
    -webkit-box-shadow: 2px 2px 4px #333;
}

.schedule .ui-draggable-dragging,
.schedule .ui-resizeable {
    z-index: 20;
}

.schedule .sc-bar .head {
    display: block;
    padding: 6px 8px 0;
    font-size: 12px;
    height: 16px;
    overflow: hidden;
}

.schedule .sc-bar .text {
    display: block;
    padding: 5px 15px 0;
    font-weight: bold;
    height: 18px;
    overflow: hidden;
}

.schedule .timeline,
.schedule .sc-main .tb {
    border-bottom: solid 2px #666;
}

.schedule .sc-rows .timeline {
    overflow: hidden;
}

.schedule .sc-rows .timeline span {
    padding: 10px;
    display: block;
}

.schedule .sc-rows .timeline span.photo {
    float: left;
    width: 36px;
    height: 36px;
    padding: 10px 0 10px 10px;
}

.schedule .sc-rows .timeline span.title {
    float: left;
    padding: 10px 0 10px 10px;
    width: 92px;
}

.schedule .sc-main-scroll .sc-main .tl {
    float: left;
    height: 100%;
    border-right: solid 1px #CCC;
}

.schedule .sc-main-scroll .sc-main .tl:hover {
    background: #F0F0F0;
}

.schedule .sc_header .sc_date {
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    float: left;
    border: 1px solid white;
}

.schedule .sc_header_time {
    float: left;
}

.schedule .sc-time {
    font-size: 10px;
}

.schedule .cant-res {
    background-color: #999 !important;
}

.schedule .selected_time {
    background-color: #a0e7c9;
}

.schedule .isMe {
    background-color: #108000 !important;
}

.schedule .notMe {
    background-color: #ec920a !important;
}

.schedule .newAdd {
    background-color: #108000 !important;
}

.schedule .resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
    z-index: 90;
    position: absolute;
    font-size: 0.1px;
    display: block;
}
