<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap: ws: https://ssl.gstatic.com;style-src * 'unsafe-inline' 'self' data: blob:;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;img-src * data: 'unsafe-inline' 'self'">
    <title>Vue Scheduler Sample</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <link rel="stylesheet" href="./css/style.css">
  <body style="margin: auto;">
    <div id="app">
      <div 
        class="schedule"
        @mousemove="setMousePosition"
        @dragover="disableDragendAnimation"
      >
        <div>
          <div
            class="sc-rows"
            :style="{width: settingData.titleDivW + 'px', height: contentH + 'px'}"
          >
            <div
              class="sc-rows-scroll"
              :style="{width: settingData.titleDivW + 'px'}"
            >
              <div 
                v-for="(row, index) in scheduleData"
                :key="index" 
                :class="'timeline'"
                :style="{'height': settingData.rowH + 'px', 'padding-top': (index == 0) ? padding + 'px' : '0px'}"
              >
                <span style="cursor: pointer;">{{ row.title }}</span>
              </div>
            </div>
          </div>
          <div class="sc-main-box" style="width: 60%;">
            <div
              class="sc-main-scroll"
              :style="{width: contentW + 'px'}"
            >
              <div class="sc-main">
                <div
                  class="timeline"
                  :style="{height: settingData.dateDivH + 'px', background: 'black'}"
                >
                  <div
                    v-for="n in dateCnt"
                    :key="n"
                    class="sc-time"
                    :style="{width: dateDivW + 'px', cursor: 'pointer'}"
                  >
                    {{ getHeaderDate(n-1) }}
                  </div>
                </div>
                <div
                  class="timeline"
                  :style="{height: settingData.timeDivH + 'px', background: '#6187AE'}"
                >
                  <div 
                    v-for="n in (dateCnt * 24)"
                    :key="n"
                    class="sc-time"
                    :style="{width: timeDivW + 'px'}"
                  >
                    {{ getHeaderTime(n - 1) }}
                  </div>
                </div>
                <div 
                  v-for="(row, index) in scheduleData" 
                  :key="index"
                  :class="'timeline'"
                  :style="{'height': settingData.rowH + 'px'}"
                >
                  <unit-div 
                    v-for="n in unitCnt"
                    :key="'unit' + n"
                    :line-no="index"
                    :row-data="row"
                    :is-business="isBusiness(index, (n - 1))"
                    :width="settingData.unitDivW + 'px'"
                    @mouse-down="selectStartTime"
                    @mouse-move="adjustTimeRange"
                    @mouse-up="selectEndTime"
                  ></unit-div>
                  <reserved-div 
                    v-for="(detail, keyNo) in row.schedule"
                    :key="'res' + keyNo"
                    :schedule-detail="detail"
                    :line-no="index"
                    :key-no="keyNo"
                    :start-text="detail.start"
                    :end-text="detail.end"
                    :content-text="detail.text"
                    :unit-width="settingData.unitDivW"
                    :unit-height="settingData.rowH"
                    :title-div-width="settingData.titleDivW"
                    :border-width="settingData.borderW"
                    :min-date="settingData.startDate"
                    :unit="settingData.unit"
                    :mouse-x="mouseX"
                    :mouse-y="mouseY"
                    @edit-schedule-data="editScheduleData"
                  ></reserved-div>
                </div>
              </div>
            </div>
          </div>
          <br class="clear">
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="./src/app.js"></script>
</html>
